ASP.NETcoreMVC/.vs/ASP.NETcoreMVC/CopilotIndices/17.14.878.3237/CodeChunks.db
ASP.NETcoreMVC/.vs/ASP.NETcoreMVC/CopilotIndices/17.14.878.3237/SemanticSymbols.db
ASP.NETcoreMVC/.vs/ASP.NETcoreMVC/v17/.suo
ASP.NETcoreMVC/.vs/ASP.NETcoreMVC/v17/DocumentLayout.json
