ASP.NETcoreMVC/.vs/ASP.NETcoreMVC/CopilotIndices/17.14.878.3237/CodeChunks.db
ASP.NETcoreMVC/.vs/ASP.NETcoreMVC/CopilotIndices/17.14.878.3237/SemanticSymbols.db
ASP.NETcoreMVC/.vs/ASP.NETcoreMVC/v17
ASP.NETcoreMVC/.vs/ASP.NETcoreMVC/v17/.suo
ASP.NETcoreMVC/.vs/ASP.NETcoreMVC/v17/DocumentLayout.json
/ASP.NETcoreMVC/.vs/ASP.NETcoreMVC/CopilotIndices/17.14.878.3237
ASP.NETcoreMVC/appsettings.json
ASP.NETcoreMVC/bin/Debug/net8.0/appsettings.json
/ASP.NETcoreMVC/.vs
*.vsidx
/ASP.NETcoreMVC/bin/Debug/net8.0
**/obj/
**/bin/
ASP.NETcoreMVC/.vs/ASP.NETcoreMVC/v17/DocumentLayout.backup.json
ASP.NETcoreMVC/.vs/ASP.NETcoreMVC/v17/.suo
/ASP.NETcoreMVC/.vs/ASP.NETcoreMVC/v17
